:root {
  --accent-color-main: #ff6b08;
  --accent-color-secondary: #ff001b;

  --bg-color-main: #ffffff;
  --bg-color-header: #f7f7f7;

  --text-color-main: #ffffff;
  --text-color-secondary: #000000;
  --text-color-warning: #ff001b;
  --text-color-header: #545454;
  --text-color-modal: #8c8c8c;

  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}
