<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <nav class="header__site-nav">
        <a href="./index.html" class="header__logo">
          <svg class="header__icon">
            <use href="./images/icons.svg#icon-film"></use>
          </svg>
          <span class="header__name">Filmoteka</span>
        </a>

        <ul class="header__navigation navigation">
          <li class="navigation__item">
            <a class="navigation__link" href="./index.html">home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link current-link" href="./my-library.html"
              >my library</a
            >
          </li>
        </ul>
      </nav>

      <div class="buttons-wrapper">
        <button type="button" id="watched" class="btn-header btn-activ">
          watched
        </button>
        <button type="button" id="queue" class="btn-header">queue</button>
      </div>
    </div>
    <input id="toggle" class="toggle" type="checkbox" />
  </div>
</header>
<button type="button" aria-label="Go to the top" class="page-up-btn">
  &#8679;
</button>
