<main>
  <section class="content">
    <div class="container">
      <ul class="films-list">
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-1"
                class="films-list__image"
              />
            </div>
            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-2"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-3"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-4"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-5"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-6"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-7"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-8"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-9"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-1"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-10"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-11"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-12"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-13"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-14"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-15"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-16"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-17"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-18"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link js-film-modal-open">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-19"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <ul class="films-list">
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-1"
                class="films-list__image"
              />
            </div>
            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-2"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-3"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-4"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-5"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-6"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-7"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-8"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-9"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-1"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-10"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-11"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-12"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-13"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-14"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-15"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-16"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-17"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-18"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
        <li class="films-list__item poster">
          <a href="#" class="films-list__link">
            <div class="films-list__image-wrapper">
              <img
                width="280"
                height="420"
                src="../images/poster.jpg"
                alt="poster-19"
                class="films-list__image"
              />
            </div>

            <h2 class="poster__title">ONCE UPON A TIME... IN HOLLYWOOD</h2>
            <p class="poster__genre">
              Drama, Comedy <span class="poster__year">2019</span>
            </p>
          </a>
        </li>
      </ul>
    </div>
  </section>
</main>
