<!-- <main id="main">  -->
<!-- <div class="movie">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSb5EtAf3QRUNo92JUzG97eco5XXLTKltp8cs4mnlktME32RrwWqbdnDS-9RUgzww3yNEE&usqp=CAU"  alt="image">
         <div class="movie-info">
        <h1>Movie title</h3>
        <span class="green">Drama|2019</span> -->
<!-- </div> -->

<!-- <div class="overview">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere earum amet accusantium ea fugiat explicabo voluptates assumenda illum, tempore sint deleniti odio repudiandae, incidunt sunt magni, nesciunt omnis perferendis ab?
    </div>    
</div>       -->
<!-- </main> -->
