<div class="film-modal-backdrop is-hidden">
  <div class="film-modal">
    <button type="button" class="film-modal-close">
      <svg class="film-modal-close-icon" width="30" height="30">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="film-modal-wrap">
      <!-- <div class="film-modal-img">
        <img src="./images/film-modal/poster.jpg" alt="film poster" />
      </div>
      <div class="film-modal-info">
        <h2 class="film-modal-title">A firstful of lead</h2>
        <ul class="film-modal-stats">
          <li class="film-modal-stats-row">
            <p class="film-modal-stats-name">Vote / Votes</p>
            <p class="film-modal-stats-value">
              <span>7.3</span> / <span>1260</span>
            </p>
          </li>
          <li class="film-modal-stats-row">
            <p class="film-modal-stats-name">Popularity</p>
            <p class="film-modal-stats-value">100.2</p>
          </li>
          <li class="film-modal-stats-row">
            <p class="film-modal-stats-name">Original Title</p>
            <p class="film-modal-stats-value upper">A firstful of lead</p>
          </li>
          <li class="film-modal-stats-row">
            <p class="film-modal-stats-name">Genre</p>
            <p class="film-modal-stats-value">Western</p>
          </li>
        </ul>
        <div class="film-modal-description">
          <p class="upper">about</p>
          <p class="film-modal-description-text">
            Four of the West’s most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were
            planning to hit the very same bank! As tensions rise, things go from
            bad to worse as they realise the bags of gold are filled with
            lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <div class="film-modal-actions">
          <button type="submit" class="film-modal-btn-action accent">
            add to Watched
          </button>
          <button type="submit" class="film-modal-btn-action transparent">
            add to queue
          </button>
        </div>
      </div> -->
    </div>
  </div>
</div>
