.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 734px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1246px;
  }
}
